################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/back/.vs/Lab2/FileContentIndex/89355218-f77d-468e-b67d-9fb0b78ddef5.vsidx
/back/.vs/Lab2/FileContentIndex/c3f48251-00bb-4d98-9fb1-c96e6f874ed1.vsidx
/back/.vs/Lab2/FileContentIndex/d341e4fc-94ef-43cd-b170-b83279b676ba.vsidx
/back/.vs/Lab2/FileContentIndex/f4ae8c4b-9325-4b5e-81ae-fe7b7cabf619.vsidx
/back/.vs/Lab2/FileContentIndex/9f7f87b5-d514-4434-b4b3-c96c7be28a1b.vsidx
/.vs/kursach-messenger-app-local/FileContentIndex/77aa1fbe-48eb-4aa7-9272-7282cc8c07f0.vsidx
/.vs/kursach-messenger-app-local/FileContentIndex/8ce94e36-1391-4818-97eb-7df9377c3dc2.vsidx
/.vs/kursach-messenger-app-local/FileContentIndex/8fcafef2-7c9a-47f2-8fcc-dc126cc635a3.vsidx
/back/.vs/Lab2/FileContentIndex/099a3c78-9bf6-4161-8c50-8eaa7b744cbc.vsidx
/back/.vs/Lab2/FileContentIndex/23fdeff5-ca08-4408-b306-fcc14931d3d6.vsidx
/back/.vs/Lab2/FileContentIndex/4b4d3b30-ddcc-4059-a4ec-bf0473102a3f.vsidx
/back/.vs/Lab2/FileContentIndex/6b581f4a-3415-4b76-900d-4287e8a07afe.vsidx
/back/.vs/Lab2/FileContentIndex/abce4e3f-f0a0-48d6-b1bf-1b94695405d1.vsidx
/back/.vs/Lab2/FileContentIndex/30b942e7-0bf6-462b-b2cc-5cf1fd41df31.vsidx
/back/.vs/Lab2/FileContentIndex/69f8550a-71e8-4d6b-9d3a-957b5efff8a5.vsidx
/back/.vs/Lab2/FileContentIndex/bb997533-5a1d-4afc-8abe-6146d327c4a3.vsidx
